src/main/resources/wsdl/rova.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions xmlns:request="http://xml.vrk.fi/ws/Rova/Request" xmlns:response="http://xml.vrk.fi/ws/Rova/Response" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:tns="http://xml.vrk.fi/ws/Rova" xmlns:items="http://xml.vrk.fi/ws/RovaEntities" xmlns:xsd="http://www.w3.org/2001/XMLSchema" xmlns:xrd="http://x-road.ee/xsd/x-road.xsd" xmlns:sdsb="http://x-road.eu/xsd/sdsb.xsd" xmlns:ns="http://x-road.eu/xsd/identifiers" name="Rova" targetNamespace="http://xml.vrk.fi/ws/Rova">
	<wsdl:types>
		<xsd:schema elementFormDefault="qualified" targetNamespace="http://x-road.eu/xsd/identifiers" xmlns="http://x-road.eu/xsd/identifiers">
			<xsd:complexType name="SdsbIdentifierType">
				<xsd:annotation>
					<xsd:documentation>Globally unique identifier in the
						SDSB system.
						Identifier consists of object type
						specifier and list of
						hierarchical codes
						(starting with code that identifiers the SDSB
						instance).
					</xsd:documentation>
				</xsd:annotation>
				<xsd:sequence>
					<xsd:element minOccurs="0" ref="sdsbInstance"/>
					<xsd:element minOccurs="0" ref="memberClass"/>
					<xsd:element minOccurs="0" ref="memberCode"/>
					<xsd:element minOccurs="0" ref="subsystemCode"/>
					<xsd:element minOccurs="0" ref="serverCode"/>
					<xsd:element minOccurs="0" ref="serviceCode"/>
					<xsd:element minOccurs="0" ref="serviceVersion"/>
				</xsd:sequence>
				<xsd:attribute ref="objectType" use="required"/>
			</xsd:complexType>
			<xsd:simpleType name="SdsbObjectType">
				<xsd:annotation>
					<xsd:documentation>Enumeration for SDSB identifier
						types that can be
						used in requests.
					</xsd:documentation>
				</xsd:annotation>
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="MEMBER"/>
					<xsd:enumeration value="SUBSYSTEM"/>
					<xsd:enumeration value="SERVER"/>
					<xsd:enumeration value="SERVICE"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:element name="sdsbInstance" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Identifies the SDSB instance.
						This field is
						applicable to all identifier
						types.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="memberClass" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Type of the member (company,
						government
						institution, private person, etc.)
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="memberCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Code that uniquely identifies a
						member of given
						member type.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="subsystemCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Code that uniquely identifies a
						subsystem of
						given
						SDSB member.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Code that uniquely identifies a
						service offered
						by
						given SDSB member or
						subsystem.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serviceVersion" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Version of the service.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:element name="serverCode" type="xsd:string">
				<xsd:annotation>
					<xsd:documentation>Code that uniquely identifies
						security server
						offered by a given SDSB member
						or subsystem.
					</xsd:documentation>
				</xsd:annotation>
			</xsd:element>
			<xsd:attribute name="objectType" type="SdsbObjectType"/>
			<xsd:complexType name="SdsbClientIdentifierType">
				<xsd:complexContent>
					<xsd:restriction base="SdsbIdentifierType">
						<xsd:sequence>
							<xsd:element ref="sdsbInstance"/>
							<xsd:element ref="memberClass"/>
							<xsd:element ref="memberCode"/>
							<xsd:element minOccurs="0" ref="subsystemCode"/>
						</xsd:sequence>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SdsbServiceIdentifierType">
				<xsd:complexContent>
					<xsd:restriction base="SdsbIdentifierType">
						<xsd:sequence>
							<xsd:element ref="sdsbInstance"/>
							<xsd:element ref="memberClass"/>
							<xsd:element ref="memberCode"/>
							<xsd:element minOccurs="0" ref="subsystemCode"/>
							<xsd:element ref="serviceCode"/>
							<xsd:element minOccurs="0" ref="serviceVersion"/>
						</xsd:sequence>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
			<xsd:complexType name="SdsbSecurityServerIdentifierType">
				<xsd:complexContent>
					<xsd:restriction base="SdsbIdentifierType">
						<xsd:sequence>
							<xsd:element ref="sdsbInstance"/>
							<xsd:element ref="memberClass"/>
							<xsd:element ref="memberCode"/>
							<xsd:element ref="serverCode"/>
						</xsd:sequence>
					</xsd:restriction>
				</xsd:complexContent>
			</xsd:complexType>
		</xsd:schema>
		<!-- Schema for requests (reduced) -->
		<xsd:schema xmlns="http://www.w3.org/2001/XMLSchema" xmlns:tns="http://x-road.eu/xsd/sdsb.xsd" targetNamespace="http://x-road.eu/xsd/sdsb.xsd" xmlns:id="http://x-road.eu/xsd/identifiers" elementFormDefault="qualified">
			<xsd:import namespace="http://x-road.eu/xsd/identifiers" id="id"/>
			<!-- xsd:element name="clientReg" type="tns:ClientRequestType" /> <xsd:element
				name="clientRegResponse" type="tns:ClientRequestType" /> <xsd:element name="clientDeletion"
				type="tns:ClientRequestType" /> <xsd:element name="clientDeletionResponse"
				type="tns:ClientRequestType" /> <xsd:element name="authCertDeletion" type="tns:authCertDeletionType"
				/> <xsd:element name="authCertDeletionResponse" type="tns:authCertDeletionType"
				/ -->
			<!-- Header fields -->
			<xsd:element name="client" type="id:SdsbClientIdentifierType"/>
			<xsd:element name="service" type="id:SdsbServiceIdentifierType"/>
			<xsd:element name="userId" type="xsd:string"/>
			<xsd:element name="id" type="xsd:string"/>
			<xsd:element name="async" type="xsd:boolean"/>
			<xsd:complexType name="authCertDeletionType">
				<xsd:sequence>
					<xsd:element name="server" type="id:SdsbSecurityServerIdentifierType">
						<xsd:annotation>
							<xsd:documentation>Identity of this security
								server.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="authCert" type="base64Binary">
						<xsd:annotation>
							<xsd:documentation>Hash of the
								authentication
								certificate that
								needs
								to
								be deleted
								from the list
								of certificates
								authenticating this
								security server.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			<xsd:complexType name="ClientRequestType">
				<xsd:sequence>
					<xsd:element name="server" type="id:SdsbSecurityServerIdentifierType">
						<xsd:annotation>
							<xsd:documentation>Identity of this security
								server.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
					<xsd:element name="client" type="id:SdsbClientIdentifierType">
						<xsd:annotation>
							<xsd:documentation>Identity of the SDSB
								member
								or subsystem
								requesting to be a
								client
								of this security server
								or who
								needs to be
								deleted from the list of
								clients of this server
								server.
							</xsd:documentation>
						</xsd:annotation>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
		</xsd:schema>
		<xsd:schema xmlns:tns="http://xml.vrk.fi/ws/RovaEntities" xmlns:xsd="http://www.w3.org/2001/XMLSchema" targetNamespace="http://xml.vrk.fi/ws/RovaEntities">
			<xsd:complexType name="Request">
				<xsd:sequence>
					
					<xsd:element name="DelegateIdentifier">
						<xsd:annotation>
							<xsd:documentation>
								Mandatory. Unique identifier of delegate entity.
								In example ssn, business ID or similar.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					
					<xsd:element name="Industry">
						<xsd:annotation>
							<xsd:documentation>
								Optional. Unique name of the industry like
								social and health, banking etc..
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Service">
						<xsd:annotation>
							<xsd:documentation>
								Mandatory. Unique name of the service. In
								example "Kela", "'Bank A' netbanking" etc..
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="Issue">
						<xsd:annotation>
							<xsd:documentation>
								Optional. Name of the issue in the context of
								the service. In example "netbank payment"
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="PrincipalIdentifier">
						<xsd:annotation>
							<xsd:documentation>
								Optional. This is used when authorization for
								particular delegation is requested. The unique identifier of
								principal in example ssn or business ID.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
					<xsd:element name="EndUserIdentifier">
						<xsd:annotation>
							<xsd:documentation>
								Mandatory. Unique identifier of service user SSN.
							</xsd:documentation>
						</xsd:annotation>
						<xsd:simpleType>
							<xsd:restriction base="xsd:string"/>
						</xsd:simpleType>
					</xsd:element>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="rovaService" type="items:Request"/>
			
			<xsd:complexType name="PrincipalType">
				<xsd:sequence>
					<xsd:element name="TargetIdentifier" type="xsd:string"/>
					<xsd:element name="TargetName" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:complexType name="Principal">
				<xsd:choice >
					<xsd:element name="principalElem" maxOccurs="unbounded" minOccurs="0" nillable="true" type="tns:PrincipalType"/>
					<xsd:element name="DelegationResponse" type="items:AuthorizationType"/>
				</xsd:choice>
			</xsd:complexType>		
			
			<xsd:complexType name="DecisionReasonType">
				<xsd:sequence>
					<xsd:element name="reasonRule" type="xsd:string"/>
					<xsd:element name="reasonValue" type="xsd:string"/>
				</xsd:sequence>
			</xsd:complexType>
				
			<xsd:simpleType name="AuthorizationType">
				<xsd:restriction base="xsd:string">
					<xsd:enumeration value="ALLOWED"/>
					<xsd:enumeration value="DISALLOWED"/>
				</xsd:restriction>
			</xsd:simpleType>
			<xsd:complexType name="RovaResponse">
				<xsd:sequence>
					<xsd:element name="rovaServiceRequest" type="items:Request"/>
					<xsd:choice>
						<xsd:element name="PrincipalResponse" type="items:Principal"/>
						<xsd:element name="DelegationResponse" type="items:AuthorizationType"/>
					</xsd:choice>
					<xsd:element name="Reason" maxOccurs="unbounded" minOccurs="0" nillable="true" type="tns:DecisionReasonType"/>
				</xsd:sequence>
			</xsd:complexType>
			
			<xsd:element name="rovaServiceResponse" type="items:RovaResponse"/>
		
		</xsd:schema>
	</wsdl:types>
	<wsdl:message name="requestheader">
		<wsdl:part name="client" element="sdsb:client"/>
		<wsdl:part name="service" element="sdsb:service"/>
		<wsdl:part name="userId" element="sdsb:userId"/>
		<wsdl:part name="id" element="sdsb:id"/>
		<wsdl:part name="async" element="sdsb:async"/>
	</wsdl:message>
	<wsdl:message name="rovaService">
		<wsdl:part name="Request" element="items:rovaService"/>
	</wsdl:message>
	<wsdl:message name="rovaServiceResponse">
		<wsdl:part name="Response" element="items:rovaServiceResponse"/>
	</wsdl:message>
	<wsdl:portType name="rovaPortType">
		<wsdl:operation name="rovaService">
			<wsdl:input name="rovaService" message="tns:rovaService"/>
			<wsdl:output name="rovaServiceResponse" message="tns:rovaServiceResponse"/>
		</wsdl:operation>
	</wsdl:portType>
	<wsdl:binding name="rovaBinding" type="tns:rovaPortType">
		<soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>
		<wsdl:operation name="rovaService">
			<soap:operation soapAction=""/>
			<xrd:version>v1</xrd:version>
			<wsdl:input>
				<soap:body use="literal"/>
				<soap:header message="tns:requestheader" part="client" use="literal"/>
				<soap:header message="tns:requestheader" part="service" use="literal"/>
				<soap:header message="tns:requestheader" part="userId" use="literal"/>
				<soap:header message="tns:requestheader" part="id" use="literal"/>
				<soap:header message="tns:requestheader" part="async" use="literal"/>
			</wsdl:input>
			<wsdl:output>
				<soap:body use="literal"/>
				<soap:header message="tns:requestheader" part="client" use="literal"/>
				<soap:header message="tns:requestheader" part="service" use="literal"/>
				<soap:header message="tns:requestheader" part="userId" use="literal"/>
				<soap:header message="tns:requestheader" part="id" use="literal"/>
				<soap:header message="tns:requestheader" part="async" use="literal"/>
			</wsdl:output>
		</wsdl:operation>
	</wsdl:binding>
	<wsdl:service name="Rova_Service">
		<wsdl:documentation>WSDL-file for RoVa service</wsdl:documentation>
		<wsdl:port name="rovaPort" binding="tns:rovaBinding">
			<soap:address location="http://localhost:8000/rova-api"/>
		</wsdl:port>
	</wsdl:service>
	<!-- Schema for identifiers (reduced) -->
</wsdl:definitions>
